{% load static %}
{% load i18n %}

<table class="table text-white text-center">
    <thead>
       <tr class="text-center">
           <th scope="col" colspan="7">{{ current_month }}, {{ current_year }}</th>
       </tr>
       <tr>
           <th scope="col">{% translate 'Monday' %}</th>
           <th scope="col">{% translate 'Tuesday' %}</th>
           <th scope="col">{% translate 'Wednesday' %}</th>
           <th scope="col">{% translate 'Thursday' %}</th>
           <th scope="col">{% translate 'Friday' %}</th>
           <th scope="col">{% translate 'Saturday' %}</th>
           <th scope="col">{% translate 'Sunday' %}</th>
       </tr>
    </thead>
    <tbody>
        {% for week in current_calendar %}
            <tr>
                {% for day in week %}
                    {% with number=day.0 load=day.1 %}
                        {% if number == 0 %}
                            <td style="width: calc(100% / 7);"></td>
                        {% elif number < today %}
                            <td class="text-black" style="width: calc(100% / 7);">{{ number }}</td>
                        {% else %}
                            {% if load < 30 %}
                                <td style="width: calc(100% / 7);" data-bs-toggle="modal" data-bs-target="#currentModal{{ number }}" class="hover-effect">{{ number }}</td>
                            {% elif load > 99 %}
                                <td style="width: calc(100% / 7); background-color: rgba(255, 0, 0, 0.7);" data-bs-toggle="modal" data-bs-target="#currentModal{{ number }}" class="hover-effect">{{ number }}</td>
                            {% else %}
                                <td style="width: calc(100% / 7); background-color: rgba(255, 165, 0, 0.7);" data-bs-toggle="modal" data-bs-target="#currentModal{{ number }}" class="hover-effect">{{ number }}</td>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>