{% load static i18n %}

<table class="table text-center b-cal">
    <thead>
       <tr class="text-center">
           <th scope="col" colspan="7">{{ verbose_next_al }}, {{ next_year }}</th>
       </tr>
       <tr>
           <th scope="col">{% translate 'Monday' %}</th>
           <th scope="col">{% translate 'Tuesday' %}</th>
           <th scope="col">{% translate 'Wednesday' %}</th>
           <th scope="col">{% translate 'Thursday' %}</th>
           <th scope="col">{% translate 'Friday' %}</th>
           <th scope="col">{% translate 'Saturday' %}</th>
           <th scope="col">{% translate 'Sunday' %}</th>
       </tr>
    </thead>
    <tbody>
        {% for week in next_calendar %}
            <tr>
                {% for day in week %}
                    {% with number=day.0 load=day.1 %}
                        {% if number == 0 %}
                            <td style="width: calc(100% / 7);"></td>
                        {% else %}
                            {% if load < 30 %}
                                <td class="valid" style="width: calc(100% / 7);" data-bs-toggle="modal" data-bs-target="#nextModal{{ number }}">{{ number }}</td>
                            {% elif load > 70 %}
                                <td class="overload" style="width: calc(100% / 7);" data-bs-toggle="modal" data-bs-target="#nextModal{{ number }}">{{ number }}</td>
                            {% else %}
                                <td class="semi-load" style="width: calc(100% / 7);" data-bs-toggle="modal" data-bs-target="#nextModal{{ number }}">{{ number }}</td>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>