{% load static %}
{% load i18n %}

<div class="row mt-2">
    <div class="col-lg-6 col-0"></div>
    <div class="col-lg-4 col-12">
        <div class="d-flex justify-content-between">
            <h5 class="fs-4"><span class="badge text-bg-light">{% translate 'Available' %}</span></h5>
            <h5 class="fs-4"><span class="badge text-bg-warning">{% translate 'Limited' %}</span></h5>
            <h5 class="fs-4"><span class="badge text-bg-danger">{% translate 'Busy' %}</span></h5>
        </div>
    </div>
    <div class="col-lg-2 col-0"></div>
</div>
