{% load static %}
{% load i18n %}

<div class="row mt-2">
    <div class="col-lg-6 col-3"></div>
    <div class="col-lg-6 col-6">
        <div class="legend">
            <div class="legend-item legend-w">
                <span>{% translate 'Available' %}</span>
            </div>
            <div class="legend-item legend-orange">
                <span>{% translate 'Limited' %}</span>
            </div>
            <div class="legend-item legend-red">
                <span>{% translate 'Busy' %}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-0 col-3"></div>
</div>