{% load static %}
{% load i18n %}

<div class="modal-container">
    {% for week in current_calendar %}
        {% for day in week %}
            {% with number=day.0 load=day.1 slots=day.2 %}
                {% if number != 0 %}
                    <div class="modal fade" id="currentModal{{ number }}" tabindex="-1" aria-labelledby="currentModalLabel{{ number }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content auth-bg">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="currentModalLabel{{ number }}">
                                        {{ number }} {{ current_month }}, {{ current_year }}<br>
                                        {% translate 'Available booking slots:' %}
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="padding: 0;">
                                    {% if not slots %}
                                        <h1 class="fs-1">{% translate 'No available slots :( Check another day!' %}</h1>
                                    {% else %}
                                        <table class="table">
                                            <thead>
                                                <tr class="text-white">
                                                  <th scope="col">#</th>
                                                  <th scope="col">{% translate 'From' %}</th>
                                                  <th scope="col">{% translate 'To' %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for slot in slots %}
                                                    <tr class="table-success">
                                                        <th scope="row">{{ forloop.counter }}</th>
                                                        <td>{{ slot.0 }}</td>
                                                        <td>{{ slot.1 }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">{% translate 'Close' %}</button>
                                    {% if slots %}
                                        <a href="{% url 'book_create' %}?selected_date={{ current_year }}-{{ current_month }}-{{ number }}&slots={{ slots }}" class="btn btn-success">{% translate 'Book' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                     </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% endfor %}
    {% for week in next_calendar %}
        {% for day in week %}
            {% with number=day.0 load=day.1 slots=day.2 %}
                {% if number != 0 %}
                    <div class="modal fade" id="nextModal{{ number }}" tabindex="-1" aria-labelledby="nextModalLabel{{ number }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content auth-bg">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="nextModalLabel{{ number }}">
                                        {{ number }} {{ next_month }}, {{ next_year }}<br>
                                        {% translate 'Available booking slots:' %}
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="padding: 0;">
                                    {% if not slots %}
                                        <h1 class="fs-1">{% translate 'No available slots :( Check another day!' %}</h1>
                                    {% else %}
                                        <table class="table">
                                            <thead>
                                                <tr class="text-white">
                                                  <th scope="col">#</th>
                                                  <th scope="col">{% translate 'From' %}</th>
                                                  <th scope="col">{% translate 'To' %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for slot in slots %}
                                                    <tr class="table-success">
                                                        <th scope="row">{{ forloop.counter }}</th>
                                                        <td>{{ slot.0 }}</td>
                                                        <td>{{ slot.1 }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">{% translate 'Close' %}</button>
                                    {% if slots %}
                                        <a href="{% url 'book_create' %}?selected_date={{ next_year }}-{{ next_month }}-{{ number }}&slots={{ slots }}" class="btn btn-success">{% translate 'Book' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                     </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% endfor %}
</div>