{% extends 'base.html' %}
{% load django_bootstrap5 i18n static %}

{% block title %}{% translate 'Safety instructions' %}{% endblock %}
{% block description %}{% translate 'We have prepared a short safety instruction for you. Read it to avoid injury. Take care of yourself!' %}{% endblock %}
{% block og_title %}{% translate 'Safety instructions' %}{% endblock %}
{% block og_image %}{% static 'images/og-instruction.jpg' %}{% endblock %}
{% block og_description %}{% translate 'To avoid injury, please read our instructions for driving an Enduro motorcycle!' %}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/briefing.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blackquote.css' %}">
<div class="black-bg lg-m-b">{% include 'navbar.html' %}</div>
<div class="container mb-3">
    <div class="row text-center mb-5">
        <h1 class="display-5">{% translate 'Safety instructions' %}</h1>
        <h2 class="fs1">{% translate 'For riding a Pit-bike and Enduro motorcycle' %}</h2>
        <hr class="h-line-dark mt-3">
    </div>
    <div class="panel-container">
        <div class="panel active" style="background-image: url('../static/images/briefing/slide1.jpg')"></div>
        <div class="panel" style="background-image: url('../static/images/briefing/slide2.jpg')"></div>
        <div class="panel" style="background-image: url('../static/images/briefing/slide3.jpg')"></div>
        <div class="panel" style="background-image: url('../static/images/briefing/slide4.jpg')"></div>
        <div class="panel" style="background-image: url('../static/images/briefing/slide5.jpg')"></div>
    </div>
</div>
<div class="container mb-4">
    <div class="row p-4">
        <blockquote class="blockquote-6">
            <h3>{% translate 'In case of injury, bruises or other harm to your health, we are not responsible.' %}</h3>
            <cite class="m-0">{% translate 'BroTeamRacing Team' %}</cite>
        </blockquote>
    </div>
</div>

<script>
    const panels = document.querySelectorAll('.panel');
    panels.forEach(panel => {
        panel.addEventListener('click', () => {
            removeActiveClasses();
            panel.classList.add('active');
        });
    });
    function removeActiveClasses() {
        panels.forEach(panel => {
            panel.classList.remove('active');
        });
    }
</script>
{% endblock %}