{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="row text-center text-white lg-m-y mx-5">
        <h1 class="display-5">{% translate 'Safety instructions for riding a pit bike or enduro motorcycle.' %}</h1>
    </div>
    <div class="row mb-4">
        <div class="col-12">
        <img src="https://sun9-77.userapi.com/impg/oddQHj5htXat6QDWc0zNgKLKnYbTV37AGPlCxQ/wYD3zsVW_jk.jpg?size=1280x720&quality=95&sign=9ce4f2a976541c7980bab7eb2f3076bd&type=album" alt="001">
        </div>
    </div>
    <div class="row text-center text-white mb-4">
        <p class="fs-2">{% translate 'In case of injury, bruises or other harm to your health, we are not responsible.' %}</p>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <img src="https://sun9-43.userapi.com/impg/LZfah6HZkwzRFvQ5i1nfu5NgwORYBRLuXC9ZgA/K2L-6f6lUvQ.jpg?size=1280x720&quality=95&sign=dccd94fcdfa4501f80aab94da4c38cf0&type=album" alt="002">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <img src="https://sun9-24.userapi.com/impg/QbSF8G9zQa60XaCAEAYby3DfdvdO7niXWRJhqw/nLMJ4vjVzMs.jpg?size=1280x720&quality=95&sign=b1540099be6dbadb80b93b3d25ca0b4e&type=album" alt="003">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <img src="https://sun9-58.userapi.com/impg/L8CDGII-Bp39fTRA53aNIyVm6XQb6BFjiWs5dQ/R9oQQ0cmuw8.jpg?size=1280x720&quality=95&sign=463016baebff431acc5c0003a766025b&type=album" alt="004">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <img src="https://sun9-43.userapi.com/impg/DvedIpVNnwMvupq4pTKSu6Dpp50RbzrpChR2JQ/D0fHQlDw-Vw.jpg?size=1280x720&quality=95&sign=46e0cc8f2e7924114e44937403764227&type=album" alt="005">
        </div>
    </div>
    <div class="row text-center text-white mb-4">
        <div class="col-3"></div>
        <div class="col-6">
            <hr class="h-line" style="opacity:1;">
        </div>
        <div class="col-3"></div>
        <p class="fs-2">{% translate 'Following these instructions will help you avoid injury.' %}</p>
    </div>
</div>
{% endblock %}