{% load static i18n %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="iconblock-6">
                <div class="top">
                    <div class="pic">
                        <img src="{% static 'images/advantages/equip.jpg' %}" />
                    </div>
                    <div class="icon">
                        <img src="{% static 'images/advantages/helmet.png' %}" />
                    </div>
                </div>
                <div class="body">
                    <h3 class="fs-3">{% translate 'Equipment' %}</h3>
                    <p class="fs-5">{% translate 'Do not worry about safety, all necessary equipment is already included in the rental price' %}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="iconblock-6">
                <div class="top">
                    <div class="pic">
                        <img src="{% static 'images/advantages/guide.jpeg' %}" />
                    </div>
                    <div class="icon">
                        <img src="{% static 'images/advantages/teacher.png' %}" />
                    </div>
                </div>
                <div class="body">
                    <h3 class="fs-3">{% translate 'Guide' %}</h3>
                    <p class="fs-5">{% translate 'Even if you have never sat in the saddle, our experienced guide will teach you everything' %}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="iconblock-6">
                <div class="top">
                    <div class="pic">
                        <img src="{% static 'images/advantages/zhezl.jpg' %}" />
                    </div>
                    <div class="icon">
                        <img src="{% static 'images/advantages/license.png' %}" />
                    </div>
                </div>
                <div class="body">
                    <h3 class="fs-3">{% translate 'No license' %}</h3>
                    <p class="fs-5">{% translate 'To operate an enduro motorcycle you do not need a driver license, because it is sports equipment' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

