<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% load django_bootstrap5 %}
    {% load i18n %}
    {% load static %}
    <meta charset="UTF-8">
      <title>{% block title %}{% endblock %}</title>
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
      <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" sizes="32x32">
      <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
  </head>
  <body class="scrollable-background">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="container diagonal-gradient px-0">
      <header>{% include 'navbar.html' %}</header>
      {% bootstrap_messages %}
      <div class="mb-4"></div>
      {% block content %}{% endblock %}
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {

          var alertElements = document.querySelectorAll('.alert');

          alertElements.forEach(function (alert) {
              setTimeout(function () {
                  alert.style.display = 'none';
              }, 5000);
          });
      });
    </script>
  </body>
<footer>
</footer>
</html>