<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% load django_bootstrap5 %}
    {% load i18n %}
    {% load static %}
    <meta charset="UTF-8">
      <title>{% block title %}{% endblock %}</title>
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
      <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" sizes="32x32">
  </head>
  <body class="scrollable-background">
    <div class="container diagonal-gradient">
      <header>
        {% include 'navbar.html' %}
      </header>
  <div class="mb-3"></div>


{% bootstrap_messages %}
<footer>
</footer>
</body>
</html>