{% load static %}

<div class="container-fluid my-carousel mb-5">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/carousel/01.jpg' %}" class="d-block w-100" alt="1">
      <div class="carousel-caption d-none d-md-block inline-bg">
        <h1 class="red-text">Enduro rental with a guide</h1>
        <p class="fw-bold p-inline-slide">
          Experience the thrill of adventure with our professional motorcycle guide.
          Our seasoned guide will lead you on an exhilarating journey through rugged terrains, ensuring a safe and memorable ride as you explore the scenic landscapes and hidden gems of the Leningrad Region
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/carousel/02.jpg' %}" class="d-block w-100" alt="2">
      <div class="carousel-caption d-none d-md-block inline-bg">
        <h1 class="red-text">Scenic Tours</h1>
        <p class="fw-bold p-inline-slide">
          Discover the scenic beauty of the Leningrad Region on our picturesque tours.
          Explore the region's stunning landscapes, charming villages, and historic landmarks as you embark on a journey through the natural wonders and rich history of this captivating destination.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/carousel/03.jpg' %}" class="d-block w-100" alt="3">
      <div class="carousel-caption d-none d-md-block inline-bg">
        <h1 class="red-text">Professional Equipment</h1>
        <p class="fw-bold p-inline-slide">
          Gear up for your motorcycle adventure with our top-quality professional riding gear.
          Our selection of premium motorcycle equipment ensures your safety and comfort as you hit the road to explore the picturesque landscapes of the Leningrad Region.
          Stay protected and ride in style with our high-performance gear designed for the ultimate riding experience
        </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>