{% load static i18n %}

<div class="container lg-m-y">
  <div class="row text-center">
    <a href="{% url 'contacts' %}" style="text-decoration: none;"><h1 class="display-4 text-white">Contacts</h1></a>
    <div class="col"></div>
    <div class="col text-center">
      <hr class="h-line" style="opacity: 1;">
    </div>
    <div class="col"></div>
  </div>
</div>
<div class="container lg-m-b">
  <div class="row text-center">
    <div class="col-lg-6 mb-3">
      <div style="position:relative; overflow:hidden;">
        <a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a>
        <a href="https://yandex.ru/maps/2/saint-petersburg/?ll=29.517382%2C60.191191&mode=whatshere&utm_medium=mapframe&utm_source=maps&whatshere%5Bpoint%5D=29.513170%2C60.190044&whatshere%5Bzoom%5D=17&z=16.6" style="color:#eee;font-size:12px;position:absolute;top:14px;">Посёлок Молодёжное — Яндекс Карты</a>
        <iframe src="https://yandex.ru/map-widget/v1/?ll=29.517382%2C60.191191&mode=whatshere&whatshere%5Bpoint%5D=29.513170%2C60.190044&whatshere%5Bzoom%5D=17&z=16.6" width="620" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <div id="btr"></div>
        <script type="text/javascript">VK.Widgets.Group("btr", {mode: 0, width: "auto", height: "400"}, 211850637);</script>
    </div>
  </div>
  <div class="row text-center text-white lg-m-t">
    <a class="text-white" href="https://www.youtube.com/@VovkaLife365" style="text-decoration: none;"><h1 class="fs-1"><img class="m-3" src="{% static 'images/yt.png' %}" alt="tel" width="50px" height="50px">YouTube</h1></a>
  </div>
  <div class="row text-center text-white lg-m-b">
    <h1 class="fs-1"><img class="m-3" src="{% static 'images/tel.png' %}" alt="tel" width="50px" height="50px">+7 999-235-00-91</h1>
  </div>
</div>