{% load static %}
{% load i18n %}

<div class="light-bg-p pt-5">
  <div class="container-fluid">
    <div class="row justify-content-evenly py-4">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3 frame-light text-white mt-3">
        <img class="img-ico" src="{% static 'images/ico_block/helmet.png' %}" alt="Equip">
        <h4 class="fs-2 mb-3">{% translate 'Equipment' %}</h4>
        <hr class="h-line-light">
        <p class="fs-4 text-left">{% translate 'Do not worry about safety, all necessary equipment is already included in the rental price' %}</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-3 frame-light text-white mt-3">
        <img class="img-ico" src="{% static 'images/ico_block/guide.png' %}" alt="Guide">
        <h4 class="fs-2 mb-3">{% translate 'Guide' %}</h4>
        <hr class="h-line-light">
        <p class="fs-4 text-left">{% translate 'Even if you have never sat in the saddle, our experienced guide will teach you everything' %}</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-3 frame-light text-white mt-3">
        <img class="img-ico" src="{% static 'images/ico_block/license.png' %}" alt="License">
        <h4 class="fs-2 mb-3">{% translate 'No license' %}</h4>
        <hr class="h-line-light">
        <p class="fs-4 text-left">{% translate 'To operate an enduro motorcycle you do not need a driver license, because it is sports equipment' %}</p>
      </div>
    </div>
  </div>
</div>