{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block index %}
{% include 'carousel.html' %}

<h1 class="fs-1 my-5 text-center main-header-color text-uppercase">Bikes</h1>
<div class="m-5">
  <hr class="h-line">
</div>

{% include 'cards.html' %}
<div class="my-4"></div>
<div class="m-5 text-center main-header-color">
  <h2>Carefully Maintained and Tuned</h2>
  <div class="my-4"></div>
  <p class="h4">All our motorcycles have undergone meticulous maintenance and tuning, ensuring high quality and safety</p>
</div>

<div class="my-5"></div>
<br>
<h1 class="fs-1 my-5 text-center main-header-color text-uppercase">Routes</h1>
<div class="m-5">
  <hr class="h-line">
</div>
{% include 'routes_carousel.html' %}
<div class="my-4"></div>
<div class="m-5 text-center main-header-color">
  <h2>Combining Beautiful Scenery with Adrenaline</h2>
  <div class="my-4"></div>
  <p class="h4">Experience the perfect blend of stunning landscapes and exhilarating adventure</p>
</div>

<div class="my-5"></div>
<br>
<h1 class="fs-1 my-5 text-center main-header-color text-uppercase">Contacts</h1>
<div class="m-5">
  <hr class="h-line">
</div>
<div class="container justify-content-between">
  <div class="row">
    <div class="col-auto">
      <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a><a href="https://yandex.ru/maps/2/saint-petersburg/?ll=29.517382%2C60.191191&mode=whatshere&utm_medium=mapframe&utm_source=maps&whatshere%5Bpoint%5D=29.513170%2C60.190044&whatshere%5Bzoom%5D=17&z=16.6" style="color:#eee;font-size:12px;position:absolute;top:14px;">Посёлок Молодёжное — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=29.517382%2C60.191191&mode=whatshere&whatshere%5Bpoint%5D=29.513170%2C60.190044&whatshere%5Bzoom%5D=17&z=16.6" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
    <div class="col-auto">

    </div>
  </div>
</div>
{% endblock %}