{% load static %}

<div class="row">
    <div class="hover3d">
        <ul>
            <li>
                <div class="data">
                    <a href="{% static 'images/carousel/slide1.jpg' %}" data-lightbox="gallery">
                        <img class="sq-photo" src="{% static 'images/carousel/slide1.jpg' %}" alt="slide 1">
                    </a>
                    <div class="info"></div>
                </div>
            </li>
            <li>
                <div class="data">
                    <a href="{% static 'images/carousel/slide2.jpg' %}" data-lightbox="gallery">
                        <img class="sq-photo" src="{% static 'images/carousel/slide2.jpg' %}" alt="slide 2">
                    </a>
                    <div class="info"></div>
                </div>
            </li>
            <li>
                <div class="data">
                    <a href="{% static 'images/carousel/slide3.jpg' %}" data-lightbox="gallery">
                        <img class="sq-photo" src="{% static 'images/carousel/slide3.jpg' %}" alt="slide 3">
                    </a>
                    <div class="info"></div>
                </div>
            </li>
            <li>
                <div class="data">
                    <a href="{% static 'images/carousel/slide4.jpg' %}" data-lightbox="gallery">
                        <img class="sq-photo" src="{% static 'images/carousel/slide4.jpg' %}" alt="slide 4">
                    </a>
                    <div class="info"></div>
                </div>
            </li>
            <li>
                <div class="data">
                    <a href="{% static 'images/carousel/slide5.jpg' %}" data-lightbox="gallery">
                        <img class="sq-photo" src="{% static 'images/carousel/slide5.jpg' %}" alt="slide 5">
                    </a>
                    <div class="info"></div>
                </div>
            </li>
            <li>
                <div class="data">
                    <a href="{% static 'images/carousel/slide6.jpg' %}" data-lightbox="gallery">
                        <img class="sq-photo" src="{% static 'images/carousel/slide6.jpg' %}" alt="slide 6">
                    </a>
                    <div class="info"></div>
                </div>
            </li>
            <li>
                <div class="data">
                    <a href="{% static 'images/carousel/slide7.jpg' %}" data-lightbox="gallery">
                        <img class="sq-photo" src="{% static 'images/carousel/slide7.jpg' %}" alt="slide 7">
                    </a>
                    <div class="info"></div>
                </div>
            </li>
            <li>
                <div class="data">
                    <a href="{% static 'images/carousel/slide8.jpg' %}" data-lightbox="gallery">
                        <img class="sq-photo" src="{% static 'images/carousel/slide8.jpg' %}" alt="slide 8">
                    </a>
                    <div class="info"></div>
                </div>
            </li>
        </ul>
    </div>
</div>