{% load i18n static %}

<div class="card profile-bg">
    <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
            {% if user.profile_image %}
                <div class="position-relative">
                    <img src="{{ user.profile_image.url|safe }}" alt="user" class="profile-image">
                    <a href="{% url 'change_image' pk=user.pk %}" class="btn btn-light edit-link">{% translate 'Change' %}</a>
                </div>
            {% else %}
                <div class="position-relative">
                    <img src="{% static 'images/default_pi.png' %}" alt="user" class="profile-image">
                    <a href="{% url 'change_image' pk=user.pk %}" class="btn btn-light edit-link">{% translate 'Change' %}</a>
                </div>
            {% endif %}
            <div class="mt-3">
                <h4 class="text-white">{{ user.username }}</h4>
                <p class="text-secondary text-white mb-4 mt-1">{{ user.status }}</p>
                {% if user.is_superuser %}
                    <a href="{% url 'admin:index' %}" class="btn btn-success">{% translate 'Manage Site' %}</a>
                {% else %}
                    <a class="btn btn-light" href="{% url 'bookings' %}" >{% translate 'Book Now' %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>