{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
<div class="black-bg">{% include 'navbar.html' %}</div>
<div class="container-fluid sm-h">
    <div class="container body-bg">
        {% include 'messages.html' %}
        <div class="row text-center pt-5">
            <div class="col-lg-3 col-0"></div>
            <div class="col-lg-6 col-12">
                <h1>{% translate 'Profile' %}</h1>
                <hr class="h-line-dark">
            </div>
            <div class="col-lg-3 col-0"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-12 mt-3">{% include 'users/head.html' %}</div>
            <div class="col-lg-8 col-12 mt-3">{% include 'users/info.html' %}</div>
        </div>
        <div class="mb-4"></div>
        <div class="row">
            <div class="col-12">{% include 'users/bookings.html' %}</div>
        </div>
        <div class="row text-center py-4">
            <div class="col-lg-3 col-0"></div>
            <div class="col-lg-6 col-12">
                <h2 class="fs-5">
                    {% translate 'If you liked the ride, leave a ' %}
                    <a class="link-danger modal-link" href="https://vk.com/topic-211850637_49522524">{% translate 'review' %}</a>
                </h2>
            </div>
            <div class="col-lg-3 col-0"></div>
        </div>
    </div>
</div>
{% endblock %}