.blockquote-6 {
    border-left: 6px solid #1E1F22;
    font-size: 16px;
    font-style: italic;
    margin: 16px;
    padding: 16px 24px;
    position: relative;
}
.blockquote-6:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -6px;
    height: 40px;
    background-color: #fff;
    width: 6px;
    margin-top: -1em;
}
.blockquote-6:after {
    content: "”";
    position: absolute;
    top: 50%;
    left: -20px;
    color: #1C1D25;
    font-size: 50px;
    font-family: Times, sans-serif;
    font-weight: bold;
    line-height: 30px;
}
.blockquote-6 cite {
    color: #1E1F22;
    font-size: 15px;
    padding-top: 10px;
    display: block;
    text-align: right;
}