.map {
    width: 600px;
    height: 400px;
}

@media (max-width: 768px) {
    .map {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 1400px) {
    .col-lg-6 {
        flex: 1;
        width: 100%;
    }
}