.auth-modal {
    position: fixed;
    top: 60px;
    right: 350px;
    margin: 0;
    width: 350px;
}

@media (max-width: 800px) {
    .auth-modal {
        position: static;
        top: auto;
        right: auto;
        margin: 0;
        width: auto;
    }
}

.modal-bg {
    background-color: rgb(89, 86, 85);
}

.c-body-color {
    background-color: rgb(222, 215, 212);
}

.c-black-color {
    background-color: black;
    text-align: right;
}

.img-modal {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    image-rendering: crisp-edges;
    object-fit: cover;
}

.modal-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.modal-link-s {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.modal-backdrop {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.fade.show .modal-backdrop {
    opacity: 0.8 !important;
}