.profile-bg {
    background-color: rgb(28, 29, 37);
    border: 5px rgb(89, 86, 85) solid;
    padding: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.profile-bg:hover {
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.profile-bg img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.table-green {
    transition: background-color 0.3s, font-weight 0.3s;
}

.table-green:hover {
    background-color: green !important;
    font-weight: bold;
    cursor: pointer;
}

.table-orange {
    transition: background-color 0.3s, font-weight 0.3s;
}

.table-orange:hover {
    background-color: orange !important;
    font-weight: bold;
    cursor: pointer;
}

.profile-image {
    transition: transform 0.3s ease-in-out;
}

.edit-link {
    opacity: 0;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
    padding-top: 9px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 50%;
    background-color: black;
    border: none;
}

.position-relative:hover .edit-link {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border: none;
    bottom: -12%;
}

.position-relative:hover .profile-image {
    transform: scale(1.1);
}

.table-responsive {
    max-height: 200px;
    overflow-y: auto;
}