.black-border {
    padding: 30px;
    margin: 20px;
    opacity: 0.7;
    background-color: black;
    border-radius: 20px;
}

.badge {
    width: 130px;
}

@media only screen and (max-width: 767px) {
    .badge {
        width: 120px;
    }
}

.h-line-light {
    border: 3px solid rgb(156, 157, 165);
    border-radius: 10px;
    opacity: 1;
}

.h-line-dark {
    border: 3px solid rgb(56, 58, 74);
    border-radius: 10px;
    opacity: 1;
}

.dark-text {
    color: rgb(56, 58, 74);
}

.booking-card-header {
    margin-left: 1rem;
    margin-top: 1rem;
}

.list-rectangle {
list-style: none;
margin: 0;
padding: 0;
}

.list-rectangle>li {
position: relative;
display: block;
margin-bottom: .25rem;
padding: .325rem .825rem .325rem 1.325rem;
color: #fff;
background: #C2185B;
}

.list-rectangle>li:last-child {
margin-bottom: 0;
}

.list-rectangle>li::before {
content: "";
position: absolute;
left: 0;
top: 0;
bottom: 0;
width: 0.5rem;
background: #ec407a;
}

.lg-m-t {
    margin-top: 100px;
}

.lg-m-b {
    margin-bottom: 100px;
}

.lg-m-y {
    margin-top: 100px;
    margin-bottom: 100px;
}

.m-m-x {
    margin-right: 10px;
    margin-left: 10px;
}

.lg-p-y {
    padding-top: 100px;
    padding-bottom: 100px;
}

.form-p-y {
    padding-top: 350px;
    padding-bottom: 350px;
}

.round-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.container-с {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}


.hover-effect:hover {
    background-color: white;
    color: black;
}

.auth-bg {
    background: linear-gradient(to bottom right, #242735, #565656);
    color: white;
}

.custom-border {
    background-color: rgba(0, 0, 0, 0.5);
    border: 10px solid rgba(255, 255, 255, 0.5);
    border-radius: 60px 0 0 60px;
    border-right: none;
    padding: 50px;
}

.custom-border:hover {
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.img-style {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.img-fluid {
    border-radius: 5px;
}

.frame-light {
    background-color: rgb(56, 58, 74);
    border: 10px solid rgba(255, 255, 255, 0.5);
    border-radius: 60px 60px 60px 60px;
    padding: 10px;
}

.frame-dark {
    background-color: rgb(36, 39, 53);
    border: 10px solid rgba(255, 255, 255, 0.5);
    border-radius: 60px 60px 60px 60px;
}transition: filter 0.3s ease-in-out;


.img-ico {
    width: 250px;
    height: 250px;
    margin: auto;
    display: block;
}

.img-ico-s {
    width: 50px;
    height: auto;
    margin-inline: 10px;
}

.f-ico {
    width: 30px;
    height: auto;
}

.f-a {
    text-decoration: none;
}

.cyan-img {
    transition: filter 0.3s ease-in-out;
}

.cyan-img:hover {
    filter: drop-shadow(0 0 10px #64FFFA);
}

.coral-img {
    transition: filter 0.3s ease-in-out;
}

.coral-img:hover {
    filter: drop-shadow(0 0 10px #FF6469);
}

.modal-contacts {
    background-color: rgb(22, 29, 32);
}