body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.diagonal-gradient {
    background: linear-gradient(to bottom, rgba(34, 37, 54, 0.9), rgba(118, 100, 106, 0.9));
    width: 100%;
    flex: 1;
}

.scrollable-background {
    background-image: url('../images/bike4k.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.frame {
    padding: 0;
}

.frame .frame-row {
    display: flex;
    max-height: 500px;
}

.frame .frame-row img {
    object-fit: none;
}

.black-border {
    padding: 30px;
    margin: 20px;
    opacity: 0.7;
    background-color: black;
    border-radius: 20px;
}

/* Carousels */

.my-carousel {
    padding: 0;
}

.my-carousel .carousel-item {
    display: flex;
    max-height: 500px;
}

.my-carousel .carousel-item img {
    object-fit: none;
}

.r-carousel .carousel-item img {
    height: 600px;
    object-fit: cover;
}

.red-text {
    color: red;
}

.blue-text {
    color: #2400FF;
}

.inline-bg {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 20px;
}

.p-inline-slide {
    text-indent: 40px;
}

.main-header-color {
    color: #FFF1F0;
}

.h-line {
    color: red;
    border: 1px solid;
}

/* Moto Cards */

.card-bg {
    background-color: rgba(0, 0, 0, 0.8);
}

.list-rectangle {
list-style: none;
margin: 0;
padding: 0;
}

.list-rectangle>li {
position: relative;
display: block;
margin-bottom: .25rem;
padding: .325rem .825rem .325rem 1.325rem;
color: #fff;
background: #C2185B;
}

.list-rectangle>li:last-child {
margin-bottom: 0;
}

.list-rectangle>li::before {
content: "";
position: absolute;
left: 0;
top: 0;
bottom: 0;
width: 0.5rem;
background: #ec407a;
}

.lg-m-t {
    margin-top: 100px;
}

.lg-m-b {
    margin-bottom: 100px;
}

.lg-m-y {
    margin-top: 100px;
    margin-bottom: 100px;
}

.m-m-x {
    margin-right: 10px;
    margin-left: 10px;
}

.bg-form {
    background-color: rgba(0, 0, 0, 0.4);
}

.round-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.container-с {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.image-с {
    width: 200px;
    height: auto;
}

.text-с {
    flex-grow: 1;
}

.legend {
    display: flex;
    align-items: center;
}

/* Стили для каждого элемента легенды */
.legend-item {
    display: flex;
    align-items: center;
    width: 25px;
    height: 15px;
    margin-right: 100px;

}

.legend-item span {
    color: white;
    margin-left: 30px; /* Расстояние между цветом и текстом */
}

/* Стили для цветов */
.legend-red {
    background-color: red;
}

.legend-orange {
    background-color: orange;
}

.legend-w {
    background-color: white;
}

.hover-effect:hover {
    background-color: white;
    color: black;
}