<div class="modal fade" id="locationMap" tabindex="-1" aria-labelledby="locationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
          <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A233968824c8a6dbdaff05b1683937b084ed7b842db1491000f4f7227a39a82af&amp;source=constructor"
              width="1140" height="600" frameborder="0" style="border-radius: 7px;">
          </iframe>
      </div>
    </div>
</div>