{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="display-5 text-center text-white">{% translate 'Reviews' %}</h1>
        <div class="col"></div>
        <div class="col text-center">
            <hr class="h-line mb-5" style="opacity: 1;">
        </div>
        <div class="col"></div>
    </div>
    <div class="row mb-5">
        <div class="col"></div>
        <div class="col text-center text-white">
            <h5 class="h5">{% translate 'Did you have fun? Share your impressions, leave a' %} <a href="https://vk.com/topic-211850637_49522524" style="color: red; font-weight: bold;">{% translate 'Review' %}</a></h5>
        </div>
        <div class="col"></div>
    </div>
        {% for comment in comments %}
            <div class="row text-white justify-content-center">
                <div class="col-8">
                    <div class="shadow-lg p-3 mb-5 card-bg rounded">
                        {% if comment.user.photo_100 %}
                        <img class="round-image" src="{{ comment.user.photo_100 }}" alt="photo">
                        {% endif %}
                        <h3 class="fs-3">{{ comment.user.first_name }} {{ comment.user.last_name }}</h3>
                        <hr class="text-white mb-3">
                        <p class="overflow-y-scroll fs-5">
                            {{ comment.comment.text }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}