{% extends 'base.html' %}
{% load django_bootstrap5 i18n static contrib_extras %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
<div class="black-bg">{% include 'navbar.html' %}</div>
<div class="container-fluid sm-h">
    <div class="container body-bg">
        {% include 'messages.html' %}
        <div class="container pt-4">
            <div class="row mt-4 text-center">
                <div class="col-lg-3 col-0"></div>
                <div class="col-lg-6 col-0">
                    <img src="{% static 'images/edit.png' %}" width="120" height="120" alt="edit">
                    <h2 class="mt-3">{% translate 'Book Edit' %}</h2>
                    {% if LANGUAGE_CODE == 'ru-ru' %}
                        <h3 class="mt-2">{{ booking.booking_date|date:"d" }} {{ booking.booking_date|ru_month_genitive }}, {{ booking.booking_date|date:"Y" }}</h3>
                    {% else %}
                        <h3 class="mt-2">{{ booking.booking_date|date:"d" }} {{ booking.booking_date|date:"F" }}, {{ booking.booking_date|date:"Y" }}</h3>
                    {% endif %}
                    <div class="pt-3"></div>
                    <h5>{% translate 'Your rental time:' %}</h5>
                    <hr class="h-line-dark my-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>{% translate 'From' %}</td>
                                <td>{% translate 'To' %}</td>
                            </tr>
                        </thead>
                        <tbody class="table-primary">
                            <tr>
                                <td>{{ booking.start_time }}</td>
                                <td>{{ booking.end_time }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pt-3"></div>
                    <h5>{% translate 'Available time:' %}</h5>
                    <hr class="h-line-dark my-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>{% translate 'From' %}</td>
                                <td>{% translate 'To' %}</td>
                            </tr>
                        </thead>
                        <tbody class="table-success">
                            {% for slot in slots %}
                                <tr>
                                    <td>{{ slot.0 }}</td>
                                    <td>{{ slot.1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="mb-5"></div>
                </div>
                <div class="col-lg-3 col-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-0"></div>
                <div class="col-lg-6 col-12">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input class="btn btn-success" type="submit" value="{% translate 'Confirm' %}">
                    </form>
                    <div class="mb-5"></div>
                </div>
                <div class="col-lg-3 col-0"></div>
            </div>
            <div class="pb-5"></div>
        </div>
    </div>
</div>
{% endblock %}