{% extends 'base.html' %}
{% load django_bootstrap5 i18n static contrib_extras %}

{% block content %}
<div class="black-bg">{% include 'navbar.html' %}</div>
<div class="container-fluid sm-h">
    <div class="container body-bg">
        {% include 'messages.html' %}
        <div class="container pt-4">
            <div class="row text-center mt-5">
                <div class="col-lg-3 col-0"></div>
                <div class="col-lg-6 col-12">
                    <img src="{% static 'images/calendar.png' %}" alt="Calendar" width="120" height="120">
                    <h2>{% translate 'Create Booking' %}</h2>
                    {% if LANGUAGE_CODE == 'ru-ru' %}
                        <h3>{{ date|date:"d" }} {{ date|ru_month_genitive }}, {{ date|date:"Y" }}</h3>
                    {% else %}
                        <h3>{{ date|date:"d" }} {{ date|date:"F" }}, {{ date|date:"Y" }}</h3>
                    {% endif %}
                    <div class="mb-4"></div>
                    <h5>{% translate 'Available time:' %}</h5>
                    <hr class="h-line-dark">
                </div>
                <div class="col-lg-3 col-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-0"></div>
                <div class="col-lg-6 col-12">
                    <table class="table text-center">
                        <thead>
                            <tr>
                              <th scope="col">{% translate 'from' %}</th>
                              <th scope="col"></th>
                              <th scope="col">{% translate 'to' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for slot in ranges %}
                                <tr class="table-success">
                                    <td style="font-weight: bold;">{{ slot.0 }}</td>
                                    <td style="font-weight: bold;">-</td>
                                    <td style="font-weight: bold;">{{ slot.1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input class="btn btn-lg btn-success" type="submit" value="{% translate 'Make booking' %}">
                    </form>
                </div>
                <div class="col-lg-3 col-0"></div>
                <div class="lg-m-b"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}