{% extends 'base.html' %}
{% load django_bootstrap5 i18n static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
<div class="black-bg">{% include 'navbar.html' %}</div>
<div class="container-fluid sm-h">
    <div class="container body-bg">
        {% include 'messages.html' %}
        <div class="container pt-4">
            <div class="row mt-4 text-center">
                <div class="col-lg-3 col-0"></div>
                <div class="col-lg-6 col-0">
                    <img src="{% static 'images/confirm.png' %}" width="170" height="170" alt="Confirm">
                    <h2 class="text-center mt-3">{% translate 'Verification code confirm' %}</h2>
                    <div class="mb-3"></div>
                    <p>{% translate 'Enter the confirmation code that was sent to your email' %}</p>
                    <p>{% translate 'Notice: case sensitive!' %}</p>
                    <div class="mb-5"></div>
                </div>
                <div class="col-lg-3 col-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-0"></div>
                <div class="col-lg-6 col-12">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input class="btn btn-success" type="submit" value="{% translate 'Confirm Verification Code' %}">
                    </form>
                </div>
                <div class="col-lg-3 col-0"></div>
                <div class="lg-m-b"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}