{% extends 'base.html' %}
{% load django_bootstrap5 static i18n %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contacts.css' %}">
<div class="navbar-bg lg-m-b">{% include 'navbar.html' %}</div>
<div class="container">
    <div class="row text-center">
        <h1 class="display-5">{% translate 'Contacts' %}</h1>
        <div class="col-lg-3 col-0"></div>
        <div class="col-lg-6 col-0 text-center">
            <hr class="h-line-dark">
        </div>
        <div class="col-lg-3 col-0"></div>
    </div>
</div>
<div class="mb-5"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center mb-3">
            <iframe
                class="map"
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A233968824c8a6dbdaff05b1683937b084ed7b842db1491000f4f7227a39a82af&amp;source=constructor"
                width="600" height="400" frameborder="0">
            </iframe>
        </div>
        <div class="col-lg-6">
            <div class="contact-block">
                <h2>{% translate 'Below are the contacts where you can contact us.' %}</h2>
                <hr>
                <p>{% translate 'Saint-Peterburg, Molodezhnoe, Primorskoe h.659' %}</p>
                <p>{% translate 'Vladimir' %}: +7 (999) 235-00-91</p>
                <p>{% translate 'Aleksandr' %}: +7 (981) 785-04-51</p>
                <p>Email: broteamracing@yandex.com</p>
            </div>
        </div>
    </div>
</div>
<div class="mb-5"></div>
{% endblock %}