<!DOCTYPE html>
<html lang="en">
<head>
  {% load i18n %}
  <meta charset="UTF-8">
  <title>Recover Email</title>
  <style>
    .bg {
      background: linear-gradient(to bottom right, #ffcc00, #ff6633);
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container bg">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h1 class="fs-1">{% translate 'Recovered Sign-in data' %}</h1>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h2 class="fs-3">{% translate 'There are your new sign-in details' %}</h2>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h4 class="fs-4">{% translate 'Login:' %} {{ email }}</h4>
        <h4 class="fs-4">{% translate 'Password:' %} {{ password }}</h4>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</body>
</html>
